/* JetBrains Mono - Bold */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/jetbrains-mono/jetbrains-mono-700.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/jetbrains-mono/jetbrains-mono-700italic.woff2') format('woff2');
}
