/* JetBrains Mono - Bold */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/jetbrains-mono-v24-latin-700.woff2') format('woff2');
}
