body {
    background-image: url(https://pub-cc79f915e3d84c13aa11e36fc28fa15f.r2.dev/trackers/capibara.svg);
}

.alert {
  padding: 0px !important;
  color: #feb100;
}
.topic-listing--read .topic-listing__heading {
  font-weight: 600;
}